.input {
  position: relative;

  label {
    display: block;
    font-size: 1.1rem;
    padding: 0.5rem 0;
  }

  input {
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    background: #f7f7f7;
    display: block;
    padding: 1rem;
    width: 100%;

    &:focus {
      border-color: var(--color-primary);
    }
  }

  textarea {
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    background: #f7f7f7;
    display: block;
    padding: 1rem;
    width: 100%;
    min-height: 10rem;
    resize: none;

    &:focus {
      border-color: var(--color-primary);
    }
  }
}
