.page {
  position: relative;

  .hero {
    margin: 1rem;
    border-radius: 30px;
    background: url(/public/hero_bg.png),
      radial-gradient(50% 50% at 50% 50%, #f7e2fc 0%, #f5f5f5 100%);
    width: 98vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.2rem;
      max-width: 52vw;
      margin: 1rem 0;
      margin-bottom: 3rem;
      color: var(--color-text);
    }

    @media screen and (max-width: 600px) {
      padding: 1rem;
      height: 80vh;

      h1 {
        font-size: 2rem;
      }

      p {
        max-width: unset;
        font-size: unset;
      }

      a {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
