.consultation {
  width: 100%;
  position: relative;
  height: 100vh;

  .image {
    display: block;
    width: 100%;
    height: unset;
  }

  @media screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 5rem;

    .image {
      width: 70%;
      margin: auto;
    }
  }

  @media screen and (max-width: 600px) {
    margin: 3rem 0;
    padding: 1rem;
    height: 100%;
  }
}
