.consultation {
  width: 100%;
  position: relative;
  height: 100vh;

  .image {
    display: block;
    width: 100%;
    height: unset;

    @media screen and (max-width: 590px) {
      display: none;
    }
  }

  @media screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 5rem;
    gap: 2rem;

    .image {
      width: 100%;
      margin: auto;
      position: relative;

      // &::after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   border: 2px solid var(--primary-color);
      //   border-radius: 1rem;
      //   background: radial-gradient(
      //     rgba(255, 255, 255, 0) 60%,
      //     var(--background)
      //   );
      //   // z-index: -1;
      // }

      img {
        display: block;
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media screen and (max-width: 590px) {
    margin: 3rem 0;
    padding: 1rem;
    height: 100%;
  }
}
